.header {
  color: var(--colorWhite);
  background-color: var(--colorShark);
  padding: 16px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    flex-shrink: 0;
  }
}
